* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

section {
  padding: 50px 0px;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.gray-bg {
  background-color: #F8F8F8;
}

.title {
  text-align: center;
}
.title p {
  font-size: 40px;
  line-height: 2em;
  margin-bottom: 37px;
}
.title h2 {
  font-size: 40px;
  line-height: 4.32625rem;
  margin-bottom: 37px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  input[type=checkbox] {
    display: none;
  }
  label[for=toggle-menu] {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ffffff;
  }
  label[for=toggle-menu] i {
    font-size: 1.5em;
  }
  .toggle-menu:checked + nav {
    display: block;
  }
  header {
    background-image: url("../image/athlete-in-a-gym-royalty-free-image-1651055064.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
  }
  header .pjesa1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
  }
  header .pjesa1 .fitnes {
    width: 40%;
    margin-top: 25px;
  }
  nav {
    display: none;
  }
  ul {
    margin-top: 25px;
    display: flex;
    font-size: 20px;
    font-weight: 500px;
    list-style-type: none;
    flex-direction: column;
  }
  ul li {
    margin: 5px 5px;
  }
  ul a {
    color: #ffffff;
  }
  ul li a:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
  }
  .pjesa2 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 100px 0px;
    width: 100%;
    justify-content: center;
  }
  .pjesa2 h2 {
    font-size: 35px;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
  }
  .pjesa2 p {
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 25px;
    font-size: 25px;
  }
  .ilustrimi {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
  }
  #Informata {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0px 0px 0px;
  }
  #Informata h2 {
    font-size: 40px;
  }
  #Informata p {
    font-size: 30px;
    color: #939598;
    padding: 0px 10px 100px 10px;
    line-height: 40px;
  }
  #antaresite .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 10px 50px 10px;
  }
  #antaresite .pagesat {
    border: 2px solid #ddc75b;
    padding: 10px 40px;
    text-align: center;
    width: 100%;
    height: 500px;
    margin: 0px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #antaresite .pagesat:hover {
    border: 2px solid #000000;
  }
  #antaresite .pagesat:hover {
    background-color: #ddc75b;
  }
  #antaresite .pagesat:hover h1 {
    color: #000000;
    font-size: 30px;
  }
  #antaresite .pagesat:hover .qmimet {
    border: 2px solid #000000;
    color: #000000;
  }
  #antaresite .pagesat:hover .fa-solid {
    color: #000000;
    font-size: 45px;
  }
  #antaresite h1 {
    font-size: 30px;
    text-align: center;
    color: #ddc75b;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  #antaresite p {
    font-size: 23px;
    color: #ddc75b;
    line-height: 40px;
    padding: 10px;
    color: #000000;
  }
  #antaresite .qmimet {
    border: 2px solid #ddc75b;
    text-align: center;
    position: relative;
    font-size: 1.64625rem;
    font-weight: 600;
    line-height: 18px;
    padding: 12px;
    color: #ddc75b;
  }
  #antaresite .fa-solid {
    color: #ddc75b;
    font-size: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #blogu .container .blogu {
    padding: 10px 10px 70px 10px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  #blogu .container .blogu .card span {
    font-size: 20px;
    color: #939598;
  }
  #blogu .container .blogu .card p {
    font-size: 20px;
    padding-bottom: 25px;
  }
  #blogu .container .blogu .card h2 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #blogu .container .blogu .card .img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  footer .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 10px 50px 15px;
    justify-content: space-between;
    background-color: #000000;
  }
  footer .footer h3 {
    font-size: 25px;
    color: #ffffff;
    padding-bottom: 30px;
  }
  footer .footer ul {
    list-style-type: none;
  }
  footer .footer li {
    line-height: 40px;
  }
  footer .footer a {
    color: #ffffff;
    font-size: 20px;
  }
  footer .footer p {
    font-size: 20px;
    color: #ffffff;
    line-height: 30px;
  }
  footer .footer span {
    color: #ffffff;
  }
  footer .footer .kontaktet h3 {
    padding-top: 50px;
  }
  footer .footer .abonimi h3 {
    padding-top: 50px;
  }
  footer .footer .email {
    border: 1px solid #ffffff;
    padding: 10px 10px;
    background-color: #000000;
    color: #ffffff;
    width: 250px;
    font-size: 20px;
  }
  footer .footer .social {
    display: flex;
    justify-content: flex-start;
  }
  footer .footer .social .media {
    border: 1px solid #ffffff;
    padding: 20px 20px;
  }
  footer .footer .social .media:hover {
    color: #000000;
    background-color: #ffffff;
  }
  footer .footer button {
    border: 1px solid #ffffff;
    padding: 10px 10px;
    font-size: 20px;
  }
  footer .footer button:hover {
    color: #ffffff;
    background-color: #000000;
  }
}
@media screen and (min-width: 800px) {
  .container {
    width: 1320px;
  }
  label[for=toggle-menu],
  input[type=checkbox] {
    display: none;
  }
  header {
    background-image: url("../image/athlete-in-a-gym-royalty-free-image-1651055064.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
  header .pjesa1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header .pjesa1 .fitnes {
    margin-top: 35px;
  }
  header .pjesa1 ul {
    display: flex;
    font-size: 25px;
    list-style-type: none;
  }
  header .pjesa1 ul li {
    margin: 0px 15px;
  }
  header .pjesa1 ul a {
    color: #ffffff;
  }
  header .pjesa1 ul li a:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
  }
  .pjesa2 {
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 250px;
  }
  .pjesa2 h2 {
    font-size: 50px;
    font-style: italic;
    text-align: center;
  }
  .pjesa2 p {
    margin-top: 20px;
    font-size: 40px;
  }
  .ilustrimi {
    display: flex;
    justify-content: center;
  }
  #Informata {
    padding: 50px 0px 0px 0px;
  }
  #Informata p {
    padding-bottom: 100px;
  }
  #antaresite .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    padding-bottom: 100px;
  }
  #antaresite .pagesat {
    border: 2px solid #000000;
    padding: 10px 40px;
    text-align: center;
    width: 100%;
    height: 700px;
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #antaresite .pagesat:hover {
    background-color: #ddc75b;
  }
  #antaresite .pagesat:hover h1 {
    color: #000000;
  }
  #antaresite .pagesat:hover .qmimet {
    border: 2px solid #000000;
    color: #000000;
  }
  #antaresite .pagesat:hover .fa-solid {
    color: #000000;
    font-size: 50px;
  }
  #antaresite h1 {
    font-size: 2.25rem;
    text-align: center;
    color: #ddc75b;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0;
    margin: 0 0 30px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  #antaresite p {
    font-size: 1.64625rem;
    font-weight: 600;
    line-height: 2.14rem;
    padding: 12px;
    color: #000000;
  }
  #antaresite .qmimet {
    border: 2px solid #ddc75b;
    text-align: center;
    position: relative;
    font-size: 1.64625rem;
    font-weight: 600;
    line-height: 2.14rem;
    padding: 12px;
    color: #ddc75b;
  }
  #antaresite .fa-solid {
    color: #ddc75b;
    font-size: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #blogu .container .blogu {
    padding: 50px 0px 70px 0px;
    display: grid;
    gap: 30px;
  }
  #blogu .container .blogu .card span {
    font-size: 20px;
    color: #939598;
  }
  #blogu .container .blogu .card p {
    font-size: 20px;
    padding-bottom: 25px;
  }
  #blogu .container .blogu .card h2 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #blogu .container .blogu .card .img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  footer .footer {
    display: flex;
    padding: 150px 0px;
    justify-content: space-evenly;
    background-color: #000000;
  }
  footer .footer h3 {
    font-size: 35px;
    color: #ffffff;
    padding-bottom: 30px;
  }
  footer .footer ul {
    list-style-type: none;
  }
  footer .footer li {
    line-height: 40px;
  }
  footer .footer a {
    color: #ffffff;
    font-size: 30px;
  }
  footer .footer p {
    font-size: 30px;
    color: #ffffff;
    line-height: 40px;
  }
  footer .footer span {
    color: #ffffff;
  }
  footer .footer .email {
    border: 1px solid #ffffff;
    padding: 20px 23px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
  }
  footer .footer .social {
    display: flex;
    justify-content: flex-start;
  }
  footer .footer .social .media {
    border: 1px solid #ffffff;
    padding: 20px 20px;
  }
  footer .footer .social .media:hover {
    color: #000000;
    background-color: #ffffff;
  }
  footer .footer button {
    border: 1px solid #ffffff;
    padding: 20px 23px;
    font-size: 20px;
  }
  footer .footer button:hover {
    color: #ffffff;
    background-color: #000000;
  }
  #blogu .blogu {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */